@import url("all.css");

.album-section {
    background: url('../assets/picture/bg-section.png') center center, #2e2e2e !important;
    align-items: center;
    text-align: center;
    padding: 4rem 5rem 8rem 5rem;
}

.album-head img {
    border-radius: 50%;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.wrapper {
    box-shadow: 3px 3px 10px rgb(34, 34, 34);
    background-color: #202020;
    border-radius: 30px;
    transition: 0.2s ease all;
    padding: 2rem 3rem;
    margin-bottom: 3rem;
}

.first-album {
    margin-top: 3rem;
}

.album-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 1rem;
}

.img-wrap {
    text-align: center;
    padding: 0 20px;
    padding-top: 18px;
}

.img-wrap img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.3s ease all;
}

.album-hover:hover {
    box-shadow: 0 0 15px #ff67be,
        0 0 15px #ff67be;
}

@media only screen and (max-width: 600px) {
    .album-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .album-section {
        padding: 3rem 1rem;
    }
}