/* GLOBAL */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-white {
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-center {
  text-align: center !important;
}

.row {
  display: flex;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.title {
  color: white;
  margin: 0;
  font-size: 36px;
  text-align: center;
}

.subtitle {
  color: rgb(212, 212, 212);
  margin-top: 0.75rem;
  text-align: center;
}

.section-line {
  width: 80px;
  height: 3px;
  background-color: #ff67be;
  margin: auto;
  margin-bottom: 0.75rem;
}

/* NAVBAR */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: #191919;
  height: 50px;
  align-items: center;
  padding: 10px 15px;
  z-index: 998;
}

.navbar-left img {
  height: 65px;
  margin-top: 9px;
}

.navbar-right {
  padding-right: 2rem;
}

.navbar-right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-right ul>li {
  color: white;
  padding: 10px 40px;
  position: relative;
  cursor: pointer;
  transition: 0.3s all ease;
  font-weight: bold;
}

.navbar-right ul>li:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

.catalog:hover>.catalog-dropdown {
  display: block !important;
}

/* DROPDOWN */
.catalog-dropdown {
  list-style: none;
  position: absolute;
  background-color: white;
  padding: 0;
  width: 100%;
  top: 100%;
  left: 0;
  display: none !important;
  border-radius: 10px;
}

.catalog-dropdown li {
  color: black !important;
  list-style: none;
  text-shadow: none !important;
  padding: 10px 0 !important;
  font-weight: normal !important;
}

.catalog-dropdown li:hover {
  background: #ff67be;
  color: white !important;
}

.album:hover {
  border-radius: 10px 10px 0 0;
}

.merchandise:hover {
  border-radius: 0 0 10px 10px;
}

/* CONTENT */

.center {
  text-align: center;
}

/* FOOTER */
.footer .section-line {
  margin-left: 0;
}

.footer {
  background-color: #191919;
  padding: 4rem 2rem;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.footer-left,
.footer-middle,
.footer-right {
  flex: 1;
  padding: 0 1rem;
}

.footer-left>img {
  width: 80%;
  margin-bottom: 0.75rem;
}

.img-white {
  filter: brightness(0) invert(1);
}

.icon {
  width: 30px !important;
  height: 30px;
  color: white;
}

.footer-middle ul {
  list-style: none;
  padding: 0;
}

.custom-input {
  background: none;
  background-color: #2e2e2e;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 2%;
  width: 280px;
}

.footer h2 {
  margin-bottom: 0.75rem;
}

.footer-form {
  width: 100%;
  margin-bottom: 1rem;
}

.footer-form>input {
  border-radius: 50px;
  padding: 0.75rem 0.75rem;
  width: 90%;
}

.footer-form>textarea {
  border-radius: 20px;
  padding: 0.75rem 0.75rem;
  width: 90%;
}

.footer-right .submit-wraper button {
  font-size: 1rem;
  margin-top: 5px;
  border: none;
  border-radius: 50px;
  background: #ff67be;
  padding: 0.5rem;
  width: 90%;
  cursor: pointer;
}

.footer-middle ul li img {
  margin-right: 15px;
}

.sosmed-icon {
  width: 18px !important;
  height: 18px !important;
}

.sosmed a {
  width: 18px !important;
  height: 18px !important;
  margin: 0 10px;
  padding: 15px;
  background-color: #ff67be;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.sosmed {
  display: flex;
  justify-content: flex-start;
  margin-right: 45px;
}

.footer-about {
  text-align: justify;
}

.form-wrapper {
  margin-top: 2rem;
}

.nav-content-md {
  display: block;
}

.nav-content-sm {
  display: none;
}

.sidebar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .footer {
    display: block;
  }

  .footer-left,
  .footer-right,
  .footer-middle {
    padding: 1rem 0;
  }

  .nav-content-md {
    display: none;
  }

  .nav-content-sm {
    display: block;
  }

  .navbar-right {
    padding-right: 1rem;
  }

  .btn-nav {
    background-color: #ff67be;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
  }

  .btn-nav>div {
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    background-color: white;
  }

  .sidebar {
    position: absolute;
    background-color: black;
    color: white;
    z-index: 999;
    width: 100%;
    height: 100vh;
    padding: 0;
  }

  .sidebar .header {
    padding: 0.5rem 1.75rem 0 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar .header img {
    height: 65px;
  }

  .sidebar>ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }

  .sidebar>ul>li {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
  }

  .sidebar>ul>.catalog:hover>.catalog-dropdown-sm {
    display: block !important;
  }

  .catalog-dropdown-sm {
    border: 1px solid white;
    color: white;
    display: none;
    list-style: none;
    padding: 0;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
  }

  .catalog-dropdown-sm>li {
    padding: 10px 0;
  }
}