/* GLOBAL */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-white {
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-center {
  text-align: center !important;
}

.row {
  display: flex;
  align-items: center;
}

.width-100 {
  width: 100%;
}

/* NAVBAR */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: #191919;
  height: 50px;
  align-items: center;
  padding: 10px 15px;
}

.navbar-left img {
  height: 65px;
  margin-top: 9px;
}

.navbar-right {
  padding-right: 2rem;
}

.navbar-right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-right ul>li {
  color: white;
  padding: 10px 40px;
  position: relative;
  cursor: pointer;
  transition: 0.3s all ease;
  font-weight: bold;
}

.navbar-right ul>li:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

.navbar-right>ul>li:hover>.catalog-dropdown {
  display: block !important;
}

/* DROPDOWN */
.catalog-dropdown {
  list-style: none;
  position: absolute;
  background-color: white;
  padding: 0;
  width: 100%;
  top: 100%;
  left: 0;
  display: none !important;
  border-radius: 10px;
}

.catalog-dropdown li {
  color: black !important;
  list-style: none;
  text-shadow: none !important;
  padding: 10px 0 !important;
  font-weight: normal !important;
}

.catalog-dropdown li:hover {
  background: #ff67be;
  color: white !important;
}

.album:hover {
  border-radius: 10px 10px 0 0;
}

.merchandise:hover {
  border-radius: 0 0 10px 10px;
}

/* CONTENT */

/* FOOTER */

.footer {
  background-color: #191919;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
}


.footer-left>img {
  width: 220px;
  margin-bottom: 1rem;
}

.footer-left {
  flex: 0.45;
}

.sosmed {
  display: inline-flex;
}

.sosmed a {
  padding-right: 20px;
}

.img-white {
  filter: brightness(0) invert(1);
}

.icon {
  width: 40px !important;
  height: 40px;
}

.footer-middle ul li {
  list-style: none;
}

.custom-input {
  background: none;
  background-color: #2e2e2e;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 2%;
  width: 280px;
}

.footer-right .footer-right-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-right .email-form {
  margin-bottom: 10px;
}

.footer-right .submit-wraper button {
  font-size: 1rem;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background: #ff67be;
  height: 30px;
  width: 290px;
  cursor: pointer;
}

.footer-middle ul li img {
  margin-right: 15px;
}

.sosmed-icon {
  width: 18px !important;
  height: 18px !important;
}

.sosmed a {
  width: 18px !important;
  height: 18px !important;
  margin: 0 10px;
  padding: 15px;
  background-color: #ff67be;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.sosmed {
  display: flex;
  justify-content: center;
  margin-right: 45px;
}