html, body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #191919;
    height: 100px;
    align-items: center;
}

.header img{
    margin-left: 15px;
}

.navbar{
    display: flex;
}

.dropdown{
    display: none;
}

.section{
    background-color: #383838;
    height: 100vh;
}