@import url("all.css");

.landing {
    background: url("../assets/picture/landing.jpg") top center;
    background-size: cover;
    padding: 4rem 0 2rem 2.75rem;
}

.landing-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#container {
    width: 980px;
    overflow: hidden;
    margin-bottom: 160px;
}

.slider-wrapper {
    display: flex;
    align-items: center;
}

#slider {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    float: left;
    border: none;
    border-radius: 20px;
}

#slider img {
    width: 940px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

.slide {
    position: absolute;
}

.slide-copy {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: #7f7f7f;
    background: rgba(0, 0, 0, 0.5);
}

#prev,
#next {
    cursor: pointer;
    position: relative;
    z-index: 100;
    background-color: #fb839e;
    padding: 0.75rem;
    border-radius: 50%;
    position: absolute;
}

#prev {
    left: 0;
    margin-left: 3rem;
}

#next {
    right: 0;
    margin-right: 3rem;
}

.top {
    margin-top: 60px;
    padding-bottom: 50px;
}

.wraper-img img {
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgb(34, 34, 34);
}

.wraper-img p {
    text-align: center;
    color: #ff67be;
}

.artist {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    margin: 5rem 0 2rem 0;
    padding: 0 1rem;
}

.section2 {
    background: url('../assets/picture/bg-section.png') center center, #2e2e2e !important;
    align-items: center;
    text-align: center;
    padding: 5rem 1rem;
}

.featuring {
    color: #ff67be;
    font-weight: bold;
}

.wraper-img img:hover {
    box-shadow: 5px 5px 15px #ff67be;
}

.featuring-line {
    width: 250px;
    height: 3.5px;
    background-color: white;
    margin: auto;
    margin-top: 1.2rem;
}

.effect-wrap .effect {
    position: absolute;
    z-index: 99;
}

.effect-1 {
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 20%;
    top: 170%;
    animation: spin 10s linear infinite;
}

.effect-2 {
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 32%;
    top: 125%;
    animation: spin 15s linear infinite;
}

.effect-2:before {
    content: "";
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -25px;
}

.effect-3 {
    height: 50px;
    width: 50px;
    right: 10%;
    top: 120%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
}

.effect-3 div {
    width: 1px;
    background-color: #fb839e;
}

.effect-4 {
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 90%;
    top: 120%;
    animation: spin 10s linear infinite;
}

.effect-5 {
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 60%;
    top: 165%;
    animation: spin 15s linear infinite;
}

.effect-5:before {
    content: "";
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -25px;
}

.effect-6 {
    height: 50px;
    width: 50px;
    right: 75%;
    top: 170%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
}

.effect-6 div {
    width: 1px;
    background-color: #fb839e;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    .merch-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .merchandise-section {
        padding: 3rem 1rem;
    }

    .landing {
        padding: 4rem 1rem;
    }

    .slider-wrapper {
        align-items: flex-end;
    }

    #slider img {
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    #prev {
        margin-left: 1rem;
        margin-top: 3rem;
    }

    #next {
        margin-right: 1rem;
        margin-top: 3rem;
    }

    #prev,
    #next {
        padding: 0.75rem;
        border-radius: 50%;
        position: absolute;
        width: 30px;
    }

    .artist {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 3rem 0 0 0;
        padding: 0 1rem;
    }
}