@import url("all.css");

.register {
  background: url('../assets/picture/bg-section.png') center center,
    #2e2e2e !important;
  text-align: center;
  padding: 4rem 5rem 8rem 5rem;
}

.register-card {
  background-color: #202020;
  border-radius: 5rem;
  padding: 3rem 0 4rem 0;
  margin-top: 2rem;
}

.form-group {
  padding: 0.5rem;
}

.register-form p {
  margin: 0;
}

.register-form input {
  border-radius: 50px;
  border: #748A9D 1px;
  border-style: solid;
  padding: 12px 20px;
  width: 300px;
  margin: 0.75rem 0;
}

.register-form .check {
  width: 23px;
}

.register-form label {
  margin-left: 10px;
  margin-top: 100px;
  color: #ff67be;
}

.register-btn {
  padding: 0.75rem 6rem;
  text-align: center;
  border-radius: 5rem;
  border: none;
  background: none;
  background-color: #ff67be;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.98rem;
}