@import url("all.css");

.testimonial {
    background: url('../assets/picture/bg-section.png') center center, #2e2e2e !important;
    align-items: center;
    text-align: center;
    padding: 4rem 5rem 8rem 5rem;
}

.testi-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 4rem;
}

.card {
    box-shadow: 3px 3px 10px rgb(34, 34, 34);
    background-color: #202020;
    border-radius: 10px;
    padding: 1rem 0;
    transition: 0.2s ease all;
}

.card:hover {
    transform: scale(1.05);
}

.testimoni {
    margin: 0 50px;
}

.cust-img {
    position: relative;
    padding: 20px;
}

.cust-img img {
    padding: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    margin-top: 5px;
}

.cust-name {
    padding: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}