@import url("all.css");

.testimonial{
    background-color: #2e2e2e !important;
    align-items: center;
    text-align: center;
    padding: 3%;
}

.testimonial-title{
    color: white;
    margin: 0;
    margin-bottom: 30px;
    font-size: 56px;
}

.testi-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap:30px;
}

.card{
    /* box-shadow: 0 0 4px lightgrey; */
    background-color: #202020;
    border-radius: 10px;
}

.testimoni{
    margin: 0 50px;
}

.cust-img{
    position: relative;
    padding: 20px;
}

.cust-img img{
    padding: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    margin-top: 5px;
}

.cust-name{
    padding: 20px;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 5px;
}